
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:wght@300;400;700&display=swap');

$primary: #FEFAE0;
$secondary: #BC6C25;
$accent: #DDA15E;
$accent2: #FFF7C6;
$primaryText: #283618;
$secondaryText: #606C38;

$text: 'Karla';
$accentText: 'Bebas Neue';

$headingSize: 2rem;
$textSize: 1rem;