@import '../styles/globals.scss';

.container {
  margin-top: -.5rem;
  font-family: $text;
  font-size: 1rem;
  color: $secondaryText;
}

.time {
  font-size: 1.25rem;
  font-weight: 700;
}

.desc {
  margin-top: -1.2rem;
  margin-left: 1rem;
}

@media only screen and (min-width: 414px) {
  .container {
    letter-spacing: normal;
  }
}

@media only screen and (max-width: 300px) {
  .container {
    font-size: .85rem;
  }

  .time {
    font-size: 1rem;
  }

  .desc {
    margin-left: .5rem;
  }
}