@import './globals.scss';

.navBar {
  width: 100%;
  height: 4rem;
  background: $secondary;

  button {
    border: none;
    background: transparent;
  }

  .burger {
    padding: .5rem 1rem;
    background-color: $secondary;
    color: $accent;
    font-size: 2.5rem;
  }

}

.hideMenu {
  position: fixed;
  min-width: 100%;
  width: 100%;
  z-index: 3;
}

.menu {
  margin-bottom: 1.25rem;
  padding: .5rem 0;

  background: $primary;

  box-sizing: border-box;
  box-shadow: 0px 3px 5px 0px #DDA15E;
  border: 1px solid $secondary;
  border-top: 0;
  border-radius: 0 0 1rem 1rem;

  font-size: 1.75rem;
  letter-spacing: 2%;
  color: $primaryText;

  div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0 1rem;
    padding: .75rem .5rem;
    font-family: $accentText;

    i {
      color: $accent;
      font-size: 1.75rem;
    }
  }

  hr {
    width: 87%;
    margin-top: -.05rem;
    margin-bottom: -.05rem;
    border-top: 1px solid $accent;
  }

  a {
    color: $primaryText;
    text-decoration: none;
  }

  a:hover {
    letter-spacing: 1px;
  }
}



@media only screen and (min-width: 480px) {
  .menu {
    width: 30%;
    margin-left: 1rem;
    padding: .25rem 0;

    div {
      padding: .5rem .25rem;

      i {
        color: $accent;
        font-size: 1.75rem;
      }
      
    }

    hr {
      margin-top: -.25rem;
      margin-bottom: -.25rem;
    }
  }
}
