@import './globals.scss';

body {
  margin: auto;
  background-image: url(../assets/svg/cactus-landscape.svg),
  linear-gradient(180deg, #FCFEE0 58.85%, #FFF7C6 100%);
  background-repeat: no-repeat, repeat;
  background-size: 100%, cover;
  background-position: bottom;
  font-family: $text;
}

@media only screen and (min-width: 480px) {
  body {
    background-image: url(../assets/svg/cactus-landscape.svg),
    linear-gradient(180deg, #FCFEE0 58.85%, #FFF7C6 100%);
    background-size: 50%, cover;
    background-position: bottom right;
  }
}